twitter_couchbase_nifi_template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Twitter garden hose API, split off deletes, add ID &amp; lang to flow file attributes, and write JSON data to Couchbase.</description>
    <groupId>3920663c-0171-1000-350a-11a6fb2b9455</groupId>
    <name>twitter_couchbase_nifi_template</name>
    <snippet>
        <connections>
            <id>104c241e-9e75-38df-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>472.0</x>
                <y>424.0</y>
            </bends>
            <bends>
                <x>475.0</x>
                <y>471.0</y>
            </bends>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>48d00dab-6f3a-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>48d00dab-6f3a-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>250c1811-38a9-3911-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>465.0</x>
                <y>634.0</y>
            </bends>
            <bends>
                <x>468.0</x>
                <y>747.0</y>
            </bends>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>679c762e-baaf-38d9-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>48d00dab-6f3a-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6cb5dbb3-ffa9-37e5-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>25b756f8-5dfa-39ee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>7b25d551-96e8-3d98-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>79061df0-d54b-32f6-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>465.0</x>
                <y>634.0</y>
            </bends>
            <bends>
                <x>465.0</x>
                <y>684.0</y>
            </bends>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e85871d1-1c1d-3100-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>48d00dab-6f3a-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>fa2965cb-74f9-3045-0000-000000000000</groupId>
                <id>25b756f8-5dfa-39ee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>dd322d24-14a0-308c-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-couchbase-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Connection String</key>
                    <value>
                        <name>Connection String</name>
                    </value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>
                        <name>user-name</name>
                    </value>
                </entry>
                <entry>
                    <key>user-password</key>
                    <value>
                        <name>user-password</name>
                    </value>
                </entry>
            </descriptors>
            <name>CouchbaseClusterService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Connection String</key>
                    <value>couchbase://192.168.1.164:11210</value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>testuser</value>
                </entry>
                <entry>
                    <key>user-password</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.couchbase.CouchbaseClusterService</type>
        </controllerServices>
        <processors>
            <id>25b756f8-5dfa-39ee-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>192.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Match Requirement</key>
                        <value>
                            <name>Match Requirement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Buffer Size</key>
                        <value>
                            <name>Content Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>is_delete</key>
                        <value>
                            <name>is_delete</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Match Requirement</key>
                        <value>content must contain match</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Content Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>is_delete</key>
                        <value>^\{\"delete\"</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Split Deletes</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>is_delete</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.RouteOnContent</type>
        </processors>
        <processors>
            <id>48d00dab-6f3a-3417-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>392.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>lang</key>
                        <value>
                            <name>lang</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>$.id</value>
                    </entry>
                    <entry>
                        <key>lang</key>
                        <value>$.lang</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>EvaluateJsonPath</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>7b25d551-96e8-3d98-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>
                            <name>Twitter Endpoint</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-client-error-retries</key>
                        <value>
                            <name>max-client-error-retries</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                        <value>
                            <name>Consumer Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                        <value>
                            <name>Consumer Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                        <value>
                            <name>Access Token</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                        <value>
                            <name>Access Token Secret</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>
                            <name>Languages</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                        <value>
                            <name>Terms to Filter On</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                        <value>
                            <name>IDs to Follow</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                        <value>
                            <name>Locations to Filter On</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Twitter Endpoint</key>
                        <value>Sample Endpoint</value>
                    </entry>
                    <entry>
                        <key>max-client-error-retries</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>Consumer Key</key>
                    </entry>
                    <entry>
                        <key>Consumer Secret</key>
                    </entry>
                    <entry>
                        <key>Access Token</key>
                    </entry>
                    <entry>
                        <key>Access Token Secret</key>
                    </entry>
                    <entry>
                        <key>Languages</key>
                        <value>en</value>
                    </entry>
                    <entry>
                        <key>Terms to Filter On</key>
                    </entry>
                    <entry>
                        <key>IDs to Follow</key>
                    </entry>
                    <entry>
                        <key>Locations to Filter On</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetTwitter</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.twitter.GetTwitter</type>
        </processors>
        <processors>
            <id>a93d740f-7d9a-3b4a-0000-000000000000</id>
            <parentGroupId>fa2965cb-74f9-3045-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>592.0</y>
            </position>
            <bundle>
                <artifact>nifi-couchbase-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>cluster-controller-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.couchbase.CouchbaseClusterControllerService</identifiesControllerService>
                            <name>cluster-controller-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>bucket-name</key>
                        <value>
                            <name>bucket-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>document-type</key>
                        <value>
                            <name>document-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>document-id</key>
                        <value>
                            <name>document-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>persist-to</key>
                        <value>
                            <name>persist-to</name>
                        </value>
                    </entry>
                    <entry>
                        <key>replicate-to</key>
                        <value>
                            <name>replicate-to</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>cluster-controller-service</key>
                        <value>dd322d24-14a0-308c-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>bucket-name</key>
                        <value>twitter</value>
                    </entry>
                    <entry>
                        <key>document-type</key>
                        <value>Json</value>
                    </entry>
                    <entry>
                        <key>document-id</key>
                        <value>${id}</value>
                    </entry>
                    <entry>
                        <key>persist-to</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>replicate-to</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutCouchbaseKey</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.couchbase.PutCouchbaseKey</type>
        </processors>
    </snippet>
    <timestamp>04/11/2020 05:30:52 UTC</timestamp>
</template>
